<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.lhweb.diagnosis.mapper.QuestionBankReportMapper">

    <resultMap id="BaseResultMap" type="asia.lhweb.diagnosis.model.domain.QuestionBankReport">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="questionBankId" column="question_bank_id" jdbcType="INTEGER"/>
        <result property="result" column="result"/>
        <result property="score" column="score"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,question_bank_id,score,
        result,create_time,is_delete
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from question_bank_report
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAllIf" resultType="asia.lhweb.diagnosis.model.domain.QuestionBankReport">
        select
        <include refid="Base_Column_List"/>
        from question_bank_report
        <where>
            <if test="userId != null">
                AND user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="questionBankId != null">
                AND question_bank_id = #{questionBankId,jdbcType=INTEGER}
            </if>
            and is_delete = 0
        </where>

    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from question_bank_report
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="asia.lhweb.diagnosis.model.domain.QuestionBankReport" useGeneratedKeys="true">
        insert into question_bank_report
        ( id, user_id, question_bank_id
        , result, create_time, is_delete)
        values ( #{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{questionBankId,jdbcType=INTEGER}
               , #{result,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{isDetele,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="asia.lhweb.diagnosis.model.domain.QuestionBankReport" useGeneratedKeys="true">
        insert into question_bank_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="questionBankId != null">question_bank_id,</if>
            <if test="result != null">result,</if>
            <if test="score != null">score,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="userId != null">#{userId,jdbcType=INTEGER},</if>
            <if test="questionBankId != null">#{questionBankId,jdbcType=INTEGER},</if>
            <if test="result != null">#{result,jdbcType=VARCHAR},</if>
            <if test="score != null">#{score,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="asia.lhweb.diagnosis.model.domain.QuestionBankReport">
        update question_bank_report
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="questionBankId != null">
                question_bank_id = #{questionBankId,jdbcType=INTEGER},
            </if>
            <if test="result != null">
                result = #{result,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDetele != null">
                is_detele = #{isDetele,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="asia.lhweb.diagnosis.model.domain.QuestionBankReport">
        update question_bank_report
        set user_id          = #{userId,jdbcType=INTEGER},
            question_bank_id = #{questionBankId,jdbcType=INTEGER},
            result           = #{result,jdbcType=VARCHAR},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            is_delete        = #{isDetele,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
