<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.lhweb.diagnosis.mapper.QuestionBankMapper">

    <resultMap id="BaseResultMap" type="asia.lhweb.diagnosis.model.domain.QuestionBank">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="areaId" column="area_id" jdbcType="INTEGER"/>
            <result property="question" column="question" jdbcType="VARCHAR"/>
            <result property="result" column="result" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDetele" column="is_detele" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,area_id,question,
        result,create_time,update_time,
        is_detele
    </sql>
</mapper>
