<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.lhweb.diagnosis.mapper.SysAdminCounselorMapper">

    <resultMap id="BaseResultMap" type="asia.lhweb.diagnosis.model.domain.SysAdminCounselor">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="counselorId" column="counselor_id" jdbcType="INTEGER"/>
            <result property="areaId" column="area_id" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,counselor_id,area_id,
        price
    </sql>
</mapper>
