<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.lhweb.diagnosis.mapper.SysAdminMapper">

    <resultMap id="BaseResultMap" type="asia.lhweb.diagnosis.model.domain.SysAdmin">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="sysAccount" column="sys_account" jdbcType="VARCHAR"/>
            <result property="sysPassword" column="sys_password" jdbcType="VARCHAR"/>
            <result property="adminName" column="admin_name" jdbcType="VARCHAR"/>
            <result property="adminRoleId" column="admin_role_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sys_account,sys_password,
        admin_name,admin_role_id,status,
        phone,avatar,create_time,
        update_time,is_delete
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_admin
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_admin
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="asia.lhweb.diagnosis.model.domain.SysAdmin" useGeneratedKeys="true">
        insert into sys_admin
        ( id,sys_account,sys_password
        ,admin_name,admin_role_id,status
        ,phone,avatar,create_time
        ,update_time,is_delete)
        values (#{id,jdbcType=INTEGER},#{sysAccount,jdbcType=VARCHAR},#{sysPassword,jdbcType=VARCHAR}
        ,#{adminName,jdbcType=VARCHAR},#{adminRoleId,jdbcType=INTEGER},#{status,jdbcType=INTEGER}
        ,#{phone,jdbcType=VARCHAR},#{avatar,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
        ,#{updateTime,jdbcType=TIMESTAMP},#{isDelete,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="asia.lhweb.diagnosis.model.domain.SysAdmin" useGeneratedKeys="true">
        insert into sys_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="sysAccount != null">sys_account,</if>
                <if test="sysPassword != null">sys_password,</if>
                <if test="adminName != null">admin_name,</if>
                <if test="adminRoleId != null">admin_role_id,</if>
                <if test="status != null">status,</if>
                <if test="phone != null">phone,</if>
                <if test="avatar != null">avatar,</if>
                <if test="createTime != null">create_time,</if>
                <if test="updateTime != null">update_time,</if>
                <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="sysAccount != null">#{sysAccount,jdbcType=VARCHAR},</if>
                <if test="sysPassword != null">#{sysPassword,jdbcType=VARCHAR},</if>
                <if test="adminName != null">#{adminName,jdbcType=VARCHAR},</if>
                <if test="adminRoleId != null">#{adminRoleId,jdbcType=INTEGER},</if>
                <if test="status != null">#{status,jdbcType=INTEGER},</if>
                <if test="phone != null">#{phone,jdbcType=VARCHAR},</if>
                <if test="avatar != null">#{avatar,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
                <if test="isDelete != null">#{isDelete,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="asia.lhweb.diagnosis.model.domain.SysAdmin">
        update sys_admin
        <set>
                <if test="sysAccount != null">
                    sys_account = #{sysAccount,jdbcType=VARCHAR},
                </if>
                <if test="sysPassword != null">
                    sys_password = #{sysPassword,jdbcType=VARCHAR},
                </if>
                <if test="adminName != null">
                    admin_name = #{adminName,jdbcType=VARCHAR},
                </if>
                <if test="adminRoleId != null">
                    admin_role_id = #{adminRoleId,jdbcType=INTEGER},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
                <if test="phone != null">
                    phone = #{phone,jdbcType=VARCHAR},
                </if>
                <if test="avatar != null">
                    avatar = #{avatar,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    update_time = #{updateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="isDelete != null">
                    is_delete = #{isDelete,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="asia.lhweb.diagnosis.model.domain.SysAdmin">
        update sys_admin
        set 
            sys_account =  #{sysAccount,jdbcType=VARCHAR},
            sys_password =  #{sysPassword,jdbcType=VARCHAR},
            admin_name =  #{adminName,jdbcType=VARCHAR},
            admin_role_id =  #{adminRoleId,jdbcType=INTEGER},
            status =  #{status,jdbcType=INTEGER},
            phone =  #{phone,jdbcType=VARCHAR},
            avatar =  #{avatar,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            update_time =  #{updateTime,jdbcType=TIMESTAMP},
            is_delete =  #{isDelete,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
