<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.lhweb.diagnosis.mapper.SysLogMapper">

    <resultMap id="BaseResultMap" type="asia.lhweb.diagnosis.model.domain.SysLog">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="adminId" column="admin_id" jdbcType="INTEGER"/>
        <result property="logContent" column="log_content" jdbcType="VARCHAR"/>
        <result property="logResult" column="log_result" jdbcType="VARCHAR"/>
        <result property="inputParams" column="input_params" jdbcType="VARCHAR"/>
        <result property="outputParams" column="output_params" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,admin_id,log_content,
        log_result,input_params,output_params,
        create_time,is_delete
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_log
        where
    </select>
    <select id="selectAllIf" resultType="asia.lhweb.diagnosis.model.domain.SysLog">
        select
        <include refid="Base_Column_List"/>
        from sys_log
        <where>
            <if test="adminId != null">
                admin_id = #{adminId,jdbcType=INTEGER}
            </if>
            <if test="logContent != null">
                and log_content = #{logContent,jdbcType=VARCHAR}
            </if>
            and is_delete = 0
            order by create_time desc
        </where>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from sys_log
        where
    </delete>
    <insert id="insert">
        insert into sys_log
        ( id, admin_id, log_content
        , log_result, input_params, output_params
        , create_time, is_delete)
        values ( #{id,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, #{logContent,jdbcType=VARCHAR}
               , #{logResult,jdbcType=VARCHAR}, #{inputParams,jdbcType=VARCHAR}, #{outputParams,jdbcType=VARCHAR}
               , #{createTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective">
        insert into sys_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="adminId != null">admin_id,</if>
            <if test="logContent != null">log_content,</if>
            <if test="logResult != null">log_result,</if>
            <if test="inputParams != null">input_params,</if>
            <if test="outputParams != null">output_params,</if>
            <if test="createTime != null">create_time,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="adminId != null">#{adminId,jdbcType=INTEGER},</if>
            <if test="logContent != null">#{logContent,jdbcType=VARCHAR},</if>
            <if test="logResult != null">#{logResult,jdbcType=VARCHAR},</if>
            <if test="inputParams != null">#{inputParams,jdbcType=VARCHAR},</if>
            <if test="outputParams != null">#{outputParams,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="isDelete != null">#{isDelete,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="asia.lhweb.diagnosis.model.domain.SysLog">
        update sys_log
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="adminId != null">
                admin_id = #{adminId,jdbcType=INTEGER},
            </if>
            <if test="logContent != null">
                log_content = #{logContent,jdbcType=VARCHAR},
            </if>
            <if test="logResult != null">
                log_result = #{logResult,jdbcType=VARCHAR},
            </if>
            <if test="inputParams != null">
                input_params = #{inputParams,jdbcType=VARCHAR},
            </if>
            <if test="outputParams != null">
                output_params = #{outputParams,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
        </set>
        where
    </update>
    <update id="updateByPrimaryKey" parameterType="asia.lhweb.diagnosis.model.domain.SysLog">
        update sys_log
        set id            = #{id,jdbcType=INTEGER},
            admin_id      = #{adminId,jdbcType=INTEGER},
            log_content   = #{logContent,jdbcType=VARCHAR},
            log_result    = #{logResult,jdbcType=VARCHAR},
            input_params  = #{inputParams,jdbcType=VARCHAR},
            output_params = #{outputParams,jdbcType=VARCHAR},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            is_delete     = #{isDelete,jdbcType=INTEGER}
        where
    </update>
</mapper>
