<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.lhweb.diagnosis.mapper.WorkScheduleMapper">

    <resultMap id="BaseResultMap" type="asia.lhweb.diagnosis.model.domain.WorkSchedule">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="counselorId" column="counselor_id" jdbcType="INTEGER"/>
            <result property="date" column="date"/>
            <result property="timeSlot" column="time_slot" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,counselor_id,date,
        time_slot,status
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from work_schedule
        where 
    </select>
    <select id="selectAllByCounselorId" resultType="asia.lhweb.diagnosis.model.domain.WorkSchedule">
        select
        <include refid="Base_Column_List" />
        from work_schedule
        where counselor_id = #{counselorId}
        and date between #{begin} and #{end}
    </select>
    <select id="selectListByCounselorId" resultType="asia.lhweb.diagnosis.model.domain.WorkSchedule">
        select
        <include refid="Base_Column_List" />
        from work_schedule
        where counselor_id = #{counselorId}
    </select>
    <select id="selectByWorkScheduleSelective" resultType="asia.lhweb.diagnosis.model.domain.WorkSchedule">
        select
        <include refid="Base_Column_List" />
        from work_schedule
        <where>
        <if test="id != null">
            id = #{id}
        </if>
        <if test="counselorId != null">
            and counselor_id = #{counselorId}
        </if>
        <if test="date != null">
            and date = #{date}
        </if>
        <if test="timeSlot != null">
            and time_slot= #{timeSlot}
        </if>
        </where>
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from work_schedule
        where id = #{id}
    </delete>
    <insert id="insert">
        insert into work_schedule
        ( id,counselor_id,date
        ,time_slot,status)
        values (#{id,jdbcType=INTEGER},#{counselorId,jdbcType=INTEGER},#{date,jdbcType=DATE}
        ,#{timeSlot,jdbcType=TIME},#{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective">
        insert into work_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="counselorId != null">counselor_id,</if>
                <if test="date != null">date,</if>
                <if test="timeSlot != null">time_slot,</if>
                <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="counselorId != null">#{counselorId,jdbcType=INTEGER},</if>
                <if test="date != null">#{date,jdbcType=DATE},</if>
                <if test="timeSlot != null">#{timeSlot,jdbcType=TIME},</if>
                <if test="status != null">#{status,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="asia.lhweb.diagnosis.model.domain.WorkSchedule">
        update work_schedule
        <set>
                <if test="id != null">
                    id = #{id,jdbcType=INTEGER},
                </if>
                <if test="counselorId != null">
                    counselor_id = #{counselorId,jdbcType=INTEGER},
                </if>
                <if test="date != null">
                    date = #{date,jdbcType=DATE},
                </if>
                <if test="timeSlot != null">
                    time_slot = #{timeSlot,jdbcType=TIME},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=INTEGER},
                </if>
        </set>
        where  
    </update>
    <update id="updateByPrimaryKey" parameterType="asia.lhweb.diagnosis.model.domain.WorkSchedule">
        update work_schedule
        set 
            id =  #{id,jdbcType=INTEGER},
            counselor_id =  #{counselorId,jdbcType=INTEGER},
            date =  #{date,jdbcType=DATE},
            time_slot =  #{timeSlot,jdbcType=TIME},
            status =  #{status,jdbcType=INTEGER}
        where  
    </update>
    <update id="updateBySelective">
        update work_schedule
        <set>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER},
            </if>
            <if test="counselorId != null">
                counselor_id = #{counselorId,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
            <if test="timeSlot != null">
                time_slot = #{timeSlot,jdbcType=TIME},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
    </update>
    <update id="updateStatus">
        update work_schedule
        set status = #{status,jdbcType=INTEGER}
        <where>
            and counselor_id = #{counselorId,jdbcType=INTEGER}
            and date = #{date,jdbcType=DATE}
            and time_slot = #{timeSlot,jdbcType=TIME}
        </where>
    </update>
</mapper>
